In [1]:
import pandas as pd
import numpy as np
from sklearn import set_config
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import OneHotEncoder, MinMaxScaler
from sklearn.impute import SimpleImputer
from sklearn.compose import make_column_transformer

set_config(display='diagram')

In [2]:
df = pd.DataFrame(np.random.randint(0,100,size=(100, 4)), columns=list('ABCD'))
df.head()

    A   B   C   D
0  50  35  88   7
1   1  60  14  57
2  39  66  66  27
3  31   8  90  39
4   9  27  48  73

In [4]:
df1 = pd.DataFrame()
for idx1,col1 in enumerate(df.columns):
    for idx2,col2 in enumerate(df.drop(columns=df.columns[:idx1]).columns):
        df1[col1+'x'+col2] = df.loc[:,col1] * df.loc[:,col2]

df1.head()

    AxA   AxB   AxC   AxD   BxB   BxC   BxD   CxC   CxD   DxD
0  2500  1750  4400   350  1225  3080   245  7744   616    49
1     1    60    14    57  3600   840  3420   196   798  3249
2  1521  2574  2574  1053  4356  4356  1782  4356  1782   729
3   961   248  2790  1209    64   720   312  8100  3510  1521
4    81   243   432   657   729  1296  1971  2304  3504  5329

In [5]:
df.columns[:2]

Index(['A', 'B'], dtype='object')

In [6]:
df.loc[:,'A'] * df.loc[:,'B']

0     1750
1       60
2     2574
3      248
4      243
      ...
95    2993
96    7040
97    4186
98     990
99      35
Length: 100, dtype: int32

In [7]:
df2 = df.merge(df1, left_index=True, right_index=True)

In [8]:
df3 = pd.DataFrame()
for idx1,col1 in enumerate(df.columns):
    for idx2,col2 in enumerate(df.drop(columns=df.columns[:idx1+1]).columns):
        df3[col1+'/'+col2] = df.loc[:,col1] / df.loc[:,col2]

df3.head()

        A/B       A/C       A/D       B/C       B/D        C/D
0  1.428571  0.568182  7.142857  0.397727  5.000000  12.571429
1  0.016667  0.071429  0.017544  4.285714  1.052632   0.245614
2  0.590909  0.590909  1.444444  1.000000  2.444444   2.444444
3  3.875000  0.344444  0.794872  0.088889  0.205128   2.307692
4  0.333333  0.187500  0.123288  0.562500  0.369863   0.657534

In [11]:
df4 = df2.merge(df3, left_index=True, right_index=True)
df4.head()

,A,B,C,D,AxA,AxB,AxC,AxD,BxB,BxC,BxD,CxC,CxD,DxD,A/B,A/C,A/D,B/C,B/D,C/D
0,50,35,88,7,2500,1750,4400,350,1225,3080,245,7744,616,49,1.428571,0.568182,7.142857,0.397727,5.000000,12.571429
1,1,60,14,57,1,60,14,57,3600,840,3420,196,798,3249,0.016667,0.071429,0.017544,4.285714,1.052632,0.245614
2,39,66,66,27,1521,2574,2574,1053,4356,4356,1782,4356,1782,729,0.590909,0.590909,1.444444,1.000000,2.444444,2.444444
3,31,8,90,39,961,248,2790,1209,64,720,312,8100,3510,1521,3.875000,0.344444,0.794872,0.088889,0.205128,2.307692
4,9,27,48,73,81,243,432,657,729,1296,1971,2304,3504,5329,0.333333,0.187500,0.123288,0.562500,0.369863,0.657534

In [23]:
df2.isna().sum()

A      0
B      0
C      0
D      0
AxA    0
AxB    0
AxC    0
AxD    0
BxB    0
BxC    0
BxD    0
CxC    0
CxD    0
DxD    0
dtype: int64

In [25]:
import numpy as np
from sklearn.decomposition import PCA

pca = PCA(n_components=5)
pca.fit(df2.values)

PCA(n_components=5)